html{
  height:100%;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}

body{
  height:100%;
  margin:0;
}

#file_tree{
  overflow:auto;
  height:500px;
  box-shadow: inset 0px 0px 5px #888888;
}

#editor{
  height:500px;
}

#firepad{
  height:80%;
}

.CodeMirror{
  height:100%;
}

#navbar{
  background-color:#222222;
  padding: 5pt;
}

#userdata{
  height:23pt;
}

#userdata input[type=submit]{
  padding:5pt;
  padding-left:2pt;
  padding-right:2pt;
  background-color:#eeeeee;
  border: solid 1pt #333333;
  border-radius: 2pt / 3pt;
}

#not_logged>*,#userinfo>*{
  display:inline-block;
  float:right;
}

#userinfo span.username{
  color:#eeeeee;
}

form.sign{
  margin-top:30pt;
  border:0;
}

form.sign fieldset{
  border:0;
}

table.form_data{
  width:90%;
  margin: 0 auto;
}
table.form_data td>input[type=text], table.form_data td>input[type=password]{
  border-radius: 3pt /4pt;
  width:90%;
  line-height:20pt;
  border: 1pt solid #222222;
  padding-left:4pt;
  font-size:14pt;
  vertical-align:middle;
}

td.label_form{
  width:10ex;
}

td.submit_btn{
  text-align:right;
}

td.submit_btn input{
  padding-left:0;
  border-radius: 3pt /4pt;
  line-height:20pt;
  border: 1pt solid #222222;
  padding-left:4pt;
  font-size:14pt;
  vertical-align:middle;
  margin-right:10%;
  

}

