html{
  height:100%;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}

body{
  height:100%;
  margin:0;
}

#file_tree{
  overflow:auto;
  height:500px;
  box-shadow: inset 0px 0px 5px #888888;
}

#editor{
  height:500px;
}

#firepad{
  height:85%;
  overflow:auto;
}
#userlist{
  height:10%;
}

.CodeMirror{
  height:100%;
}

#navbar{
  background-color:#222222;
  padding: 5pt;
}

#userdata{
  height:23pt;
}

#userdata input[type=submit]{
  padding:5pt;
  padding-left:2pt;
  padding-right:2pt;
  background-color:#eeeeee;
  border: solid 1pt #333333;
  border-radius: 2pt / 3pt;
}

#not_logged>*,#userinfo>*{
  display:inline-block;
  float:right;
}

#userinfo span.username{
  color:#eeeeee;
}

form.sign{
  margin-top:30pt;
  border:0;
}

form.sign fieldset{
  border:0;
}

table.form_data{
  width:90%;
  margin: 0 auto;
}
table.form_data td>input[type=text], table.form_data td>input[type=password]{
  border-radius: 3pt /4pt;
  width:90%;
  line-height:20pt;
  border: 1pt solid #222222;
  padding-left:4pt;
  font-size:14pt;
  vertical-align:middle;
}

td.label_form{
  width:10ex;
}

td.submit_btn{
  text-align:right;
}

td.submit_btn input{
  padding-left:0;
  border-radius: 3pt /4pt;
  line-height:20pt;
  border: 1pt solid #222222;
  padding-left:4pt;
  font-size:14pt;
  vertical-align:middle;
  margin-right:10%;
}

#userlist>.firepad-userlist{
  height:100%;

  overflow:auto;
}

#userlist>.firepad-userlist>.firepad-userlist-heading{
  margin:0;
}

#userlist>.firepad-userlist>.firepad-userlist-users{
  left:0;
  right:0;
  bottom:0;
  top:0;
  position:relative;
  box-shadow: inset 0px 0px 5px #222222;
  padding-left: 2ex;

}

#userlist>.firepad-userlist>.firepad-userlist-users>.firepad-userlist-user{
  display:block;
}

.editor_ui{
  margin-top: 1ex;
}

#userlist>.firepad-userlist>.firepad-userlist-users>div>.firepad-userlist-user{
  display:inline-block;
  vertical-align:middle;
  border-bottom: 0;
  border-right: solid 1px #222222;
  margin-left:1ex;
  height: initial;
  margin-bottom: 0.5ex;
}

#userlist>.firepad-userlist>.firepad-userlist-users>div>.firepad-userlist-user>*{
  display:inline-block;
  position:relative;
  left:0;
  right:0;
  bottom:0;
  top:0;
  width:initial;
  height: initial;
  margin-right:1ex;
  vertical-align:middle;
}

#userlist>.firepad-userlist>.firepad-userlist-users>div>.firepad-userlist-user>.firepad-userlist-color-indicator{
  height:15px;
  width:15px;
}


#userlist>.firepad-userlist>.firepad-userlist-users>div>.firepad-userlist-user>.firepad-userlist-name{
  font-size:10pt;
}
