html{
  height:100%;
}

body{
  height:100%;
  margin:0;
}

#file_tree{
  overflow:auto;
  height:500px;
  box-shadow: inset 0px 0px 5px #888888;
}

#editor{
  height:500px;
}

#firepad{
  height:80%;
}

.CodeMirror{
  height:100%;
}

#navbar{
  background-color:#222222;
  padding: 5pt;
}

#userdata{
  height:23pt;
}

#userdata input[type=submit]{
  padding:5pt;
  padding-left:2pt;
  padding-right:2pt;
  background-color:#eeeeee;
  border: solid 1pt #333333;
  border-radius: 2pt / 3pt;
}

#not_logged>*,#userinfo>*{
  display:inline-block;
  float:right;
}

#userinfo span.username{
  color:#eeeeee;
}

table.form_data{
  width:100%;
}

td.label_form{
  text-align:right;
}

